    <ul class="flex items-center text-sm font-medium capitalize">
        <li class="ml-5">
            {% if user.is_authenticated %}
            <a href="{% url "users:logout"%}">Logout</a>
            {% else %}
        </li>
        <li class="ml-5 border-b-2 border-b-white hover:border-b-blue-400">
            <a href="{% url "users:login"%}" >Login</a>
        </li>
          <li class="ml-5">
              <a href="{% url "users:signup"%}">Sign up</a>
          </li> 
            {% endif %}
    </ul>