{% extends 'base.html' %}
{% load static %}
{% block page_name %}
    home
{% endblock page_name %}

{% block content %}
<div class="container mx-auto">
    <div class="rounded-xl bg-gray-800  -mx-40  h-50vh mt-32 mb-24 bg-cover bg-center" style="background-image:url({% static 'image/bg.jpeg' %});"></div>
    {%for room in object_list%}
              {% include "mixins/room_card.html" with room=room %}
    {% endfor %}  
    <h5>
        {% if page_obj.has_previous  %}
            <a href="?page={{page_obj.previous_page_number }}">previous</a>
        {% endif %}
        page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number }}">next</a>
        {% endif %}   
    </h5>
    
</div>
{% endblock content %}

