{% extends 'base.html' %}

{% block page_name %}
    Search
{% endblock page_name %}

{% block search_bar %}{% endblock search_bar %}

{% block content %}
    <h2>search</h2> 
    <form method="get" action="{% url 'rooms:search' %}">
        <div>
            <label for="city">city</label>
        <input type="search" name="city" id="city" placeholder="search by city" value="{{city}}" />
        </div>
        <div>
            <label for="country">countries</label>
            <select name="country" id="country">
                {% for c in countries %}
                    <option value={{c.code}}>{{c.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="room_types">room types</label>
            <select name="room_types" id="room_types">
                {% for r in room_types %}
                    <option value={{r.pk}}>{{r.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button>search</button>
    </form>

    you searched {{city}}
{% endblock content %}