{% extends 'base.html' %}

{% block page_name %}
    Search
{% endblock page_name %}

{% block search_bar %}{% endblock search_bar %}

{% block content %}
    <h2>search</h2> 
    <form method="get" action="{% url 'rooms:search' %}">
        <div>
            <label for="city">city</label>
        <input type="search" name="city" id="city" placeholder="search by city" value="{{city}}" />
        </div>
        <div>
            <label for="country">countries</label>
            <select name="country" id="country" value={{country}}>
                {% for c in countries %}
                    <option value={{c.code}} {% if c.code == country %}selected{% endif %}>{{c.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="room_types">room types</label>
            <select name="room_types" id="room_types">
                <option value="0" {% if room_type == 0 %}selected{% endif %}>Any kind</option>
                {% for r in room_types %}
                    <option value={{r.pk}} {% if room_type == r.pk %}selected{% endif %}>{{r.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="price">price</label>
        <input type="number" name="price" value={{price}} id="price" placeholder="price" />
        </div>
        <div>
            <label for="guests">guests</label>
        <input type="number" name="guests" value={{guests}} id="guests" placeholder="guests" />
        </div>
        <div>
            <label for="bedroom">bedroom</label>
        <input type="number" name="bedroom" value={{bedroom}} id="bedroom" placeholder="bedroom" />
        </div>
        <div>
            <label for="beds">beds</label>
        <input type="number" name="beds" value={{beds}} id="beds" placeholder="beds" />
        </div>
        <div>
            <label for="baths">baths</label>
        <input type="number" name="baths" value={{baths}} id="baths" placeholder="baths" />
        </div>
        <div>
            <label for="instant">instant book only?</label>
            <input type="checkbox" name="instant" id="instant" 
            {% if instant %}
                checked
            {% endif %} />
        </div>
        <div>
            <label for="super_host">by super-host only?</label>
            <input type="checkbox" name="super_host" id="super_host" 
            {% if super_host %}
                 checked
            {% endif %} />
        </div>
        <div>
            <h3>amenities</h3>
            <ul>
                {% for amenity in amenities %}
                    <li>
                        <label for="a_{{amenity.pk}}">{{amenity.name}}</label>
                        <input 
                        type="checkbox" 
                        name="amenities" 
                        id="a_{{amenity.pk}}" 
                        value={{amenity.pk}}
                        {% if amenity.pk|slugify in s_amenities %}
                            checked
                        {% endif %}
                        />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>facilities</h3>
            <ul>
                {% for facility in facilities %}
                    <li>
                        <label for="f_{{facility.pk}}">{{facility.name}}</label>
                        <input 
                        type="checkbox" 
                        name="facilities" 
                        id="f_{{facility.pk}}" 
                        value={{facility.pk}} 
                        {% if facility.pk|slugify in s_facilities %}
                            checked
                        {% endif %} />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button>search</button>
    </form>

    <h3>results</h3>
    {% for room in rooms %}
        <h3>{{room.name}}</h3>
    {% endfor %}
{% endblock content %}